.dataviz-bubble-graph {
  position: relative;
  cursor: grab;
  .bubbles {
    stroke-width: 2px;
    stroke: white;
  }
  circle.bubble {
    cursor: pointer;
    &:hover {
      stroke: red;
    }
  }
  .bubbles:hover {
    stroke: black;
  }
  .svg-injected {
    overflow: hidden;
  }
}

.bubble-graph-tooltip {
  position: absolute;
  width: 300px;
  font-size: 12px;
}
