.dataviz-bubble-graph {
  position: relative;
  overflow: visible;
  .bubbles {
    stroke-width: 2px;
    stroke: white;
  }
  circle.bubble {
    // cursor: pointer;
    &:hover {
    }
  }
  .bubbles:hover {
    stroke: white;
  }
  .x-axis-legend,
  .y-axis-legend {
    fill: #ffffff;
    font: normal 16px sans-serif;
    letter-spacing: 2px;
  }
}

.bubble-graph-tooltip {
  @apply absolute text-white text-sm rounded-sm p-2;
  width: 300px;
  background-color: #333333;
  background: #333333;
  border: 1px solid #d4d2d5;
  box-shadow: 0 2px 12px 0 rgb(F F F / 10%);
}
