.checkbox {
  display: flex;
  flex-direction: column;
  & > label {
    @apply text-sm font-bold mb-2;
  }

  ul.checkbox-group-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      input {
        // opacity: 0;
        position: absolute;
        overflow: visible;
        left: 4px;
        top: 7px;
        margin: 0;
      }
      input:focus {
        box-shadow: none !important;
        outline: none;
      }
      input[type="checkbox"]:checked + label .fake-input {
        &:before {
          background: orange;
        }
        svg {
          opacity: 1;
        }
      }
      label {
        @apply w-full text-xs;
        padding: 5px 0;
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        .fake-input {
          position: absolute;
          left: 0;
          top: 4px;
          width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          background: #ffffff;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          z-index: 9;
          &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 14px;
            height: 14px;

            border-radius: 2px;
            cursor: inherit;
          }
          svg {
            opacity: 0;
            fill: #222;
          }
        }
      }
    }
  }
}
