.radio {
  display: flex;
  flex-direction: column;
  & > label {
    @apply text-sm font-bold mb-2;
  }
  .radio-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .radio-option {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0 8px 8px 0;
      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        margin: 0;
        border-radius: 50%;
        cursor: inherit;
      }
      input[type="radio"]:checked::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        background-color: #f45d01;
        border-radius: 50%;
        cursor: inherit;
      }
      label {
        @apply text-xs;
        padding-left: 8px;
        cursor: inherit;
      }
    }
    &.direction-vertical {
      flex-direction: column;
      .radio-option {
        margin-bottom: 5px;
      }
    }
  }
}
